
body {
	margin: 0;
  padding: 0;
	background-color: #595959;
	// background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
  box-sizing: border-box;  

}



.load_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 45vh;
  left: 45vw;
}




.wrapper{
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}


